@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
}

button {
    padding: 16px 36px;
    border-radius: 4px;
    background-color: #FF4B2B;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 120ms ease-in;
    font-size: 20px;
}

button:hover {
    background-color: #ff3916;
}

h3 {
    margin: 12px 16px;
    text-align: center;
    font-size: 28px;
}

@media (max-width: 800px) {
    h3 {
        font-size: 18px;
    }
    button {
        padding: 12px 28px;
        font-size: 16px;
    }
}